Repository apache/lucene-solr, pull requests merged in 2020-08, with the labels that each got.

#1677 SOLR-14654 Remove plugin loading from .system collection (for 9.0)
  solr/core/src/java/org/apache/solr/core/MemClassLoader.java
  solr/core/src/java/org/apache/solr/core/PluginBag.java
  solr/core/src/java/org/apache/solr/core/SolrConfig.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/handler/SolrConfigHandler.java
  solr/core/src/java/org/apache/solr/handler/StreamHandler.java
  solr/core/src/test/org/apache/solr/cloud/TestConfigSetsAPI.java
  solr/core/src/test/org/apache/solr/cloud/TestCryptoKeys.java
  solr/core/src/test/org/apache/solr/core/BlobRepositoryMockingTest.java
  solr/core/src/test/org/apache/solr/core/TestDynamicLoading.java
  solr/core/src/test/org/apache/solr/core/TestDynamicLoadingUrl.java
  solr/core/src/test/org/apache/solr/core/TestDynamicURP.java
  solr/core/src/test/org/apache/solr/core/TestSolrConfigHandler.java
  solr/core/src/test/org/apache/solr/filestore/TestDistribPackageStore.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
  solr/core/src/test/org/apache/solr/update/processor/RuntimeUrp.java
  solr/core/src/test/org/apache/solr/update/processor/TestNamedUpdateProcessors.java
Labels: cleanup, deprecation

#1692 SOLR-14581 Document the way auto commits work in SolrCloud
  solr/solr-ref-guide/src/shards-and-indexing-data-in-solrcloud.adoc
Labels: ref-guide

#1694 SOLR-14680: Provide simple interfaces to our cloud classes (only API)
  solr/solrj/src/java/org/apache/solr/cluster/api/ApiType.java
  solr/solrj/src/java/org/apache/solr/cluster/api/CollectionConfig.java
  solr/solrj/src/java/org/apache/solr/cluster/api/HashRange.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Resource.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Router.java
  solr/solrj/src/java/org/apache/solr/cluster/api/Shard.java
  solr/solrj/src/java/org/apache/solr/cluster/api/ShardReplica.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SimpleMap.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCluster.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrCollection.java
  solr/solrj/src/java/org/apache/solr/cluster/api/SolrNode.java
Labels: clean-api

#1730 SOLR-14680: Provide an implementation for the new SolrCluster API
  solr/core/src/test/org/apache/solr/cloud/TestLazySolrCluster.java
  solr/solrj/src/java/org/apache/solr/common/LazySolrCluster.java
  solr/solrj/src/java/org/apache/solr/common/SimpleZkMap.java
  solr/solrj/src/java/org/apache/solr/common/cloud/Aliases.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ClusterState.java
  solr/solrj/src/java/org/apache/solr/common/cloud/DocRouter.java
  solr/solrj/src/java/org/apache/solr/common/cloud/ZkStateReader.java
  solr/solrj/src/java/org/apache/solr/common/util/LinkedSimpleHashMap.java
  solr/solrj/src/java/org/apache/solr/common/util/NamedList.java
  solr/solrj/src/java/org/apache/solr/common/util/Utils.java
  solr/solrj/src/java/org/apache/solr/common/util/WrappedSimpleMap.java
Labels: clean-api

#1760 SOLR-14750: TestBulkSchemaConcurrent passes but schema plugins fail
  solr/core/src/java/org/apache/solr/core/ConfigSetService.java
  solr/core/src/java/org/apache/solr/core/SolrCore.java
  solr/core/src/java/org/apache/solr/core/SolrResourceLoader.java
  solr/core/src/java/org/apache/solr/schema/IndexSchema.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
Labels: test-fix
