Repository apache/lucene-solr, pull requests merged in 2020-06, with the labels that each got.

#1547 SOLR-14525 For components loaded from packages SolrCoreAware, ResourceLoaderAware are not honored
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/core/SolrResourceLoader.java
  solr/core/src/java/org/apache/solr/pkg/PackageLoader.java
  solr/core/src/java/org/apache/solr/pkg/PackagePluginHolder.java
  solr/core/src/test/org/apache/solr/pkg/TestPackages.java
Labels: packages

#1549 LUCENE-9382: update gradle to 6.4.1.
  gradle/validation/check-environment.gradle
  gradle/validation/validate-log-calls.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.sha256
  gradle/wrapper/gradle-wrapper.jar.version
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#1548 SOLR-14524: Harden MultiThreadedOCPTest testFillWorkQueue()
  solr/core/src/test/org/apache/solr/cloud/MultiThreadedOCPTest.java
Labels: test-fix

#1502 SOLR-13203: Added 400 status code to exception in DynamicField
  solr/CHANGES.txt
  solr/core/src/java/org/apache/solr/search/ExtendedDismaxQParser.java
  solr/core/src/test/org/apache/solr/search/TestExtendedDismaxParser.java
Labels: bug

#1542 SOLR-14347: fix cached session update to not depend on Zookeeper state
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/autoscaling/Policy.java
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/autoscaling/PolicyHelper.java
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/autoscaling/Row.java
Labels: autoscaling

#1504 SOLR-14462: cache more than one autoscaling session
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/autoscaling/PolicyHelper.java
  solr/solrj/src/test/org/apache/solr/client/solrj/cloud/autoscaling/TestPolicy.java
Labels: autoscaling

#1598 SOLR-14409: Existing violations allow bypassing policy rules when add…
  solr/CHANGES.txt
  solr/solrj/src/java/org/apache/solr/client/solrj/cloud/autoscaling/Suggester.java
  solr/solrj/src/test-files/solrj/solr/autoscaling/testAddTooManyPerPolicy.json
  solr/solrj/src/test/org/apache/solr/client/solrj/cloud/autoscaling/TestPolicy2.java
Labels: autoscaling

#1624 use MethodHandles in AnnotatedAPI
  solr/core/src/java/org/apache/solr/api/AnnotatedApi.java
  solr/core/src/test/org/apache/solr/handler/admin/TestApiFramework.java
Labels: packages
